@page "/"
@inject NavigationManager NavigationManager



<!doctype html>
<html lang="en">

<head>
  <title>Kaji Selidik DASS</title>
</head>

<body>
  <style>
    .custom-form {
      background-color: E4D6D2;
    }
  </style>

  <div class="text-center p-5" style="background-color: #E4D6D2;">
    <h1>Program Teroka Minda Anda (Mind Your Mind)</h1>

    <p>Inisiatif Jabatan Perkhidmatan Kesihatan MBSP dalam mengenal-pasti dan menyelesaikan isu-isu berkaitan kesihatan
      mental dalam kalangan kakitangan, khususnya dalam tempoh pasca-pandemik.</p>

    <p>Ujian saringan ini berfungsi sebagai saringan awal bagi status kesihatan mnetal anda.

      Ujian saringan ini mengandungi 21 soalan.
      Setiap soalan diberi empat pilihan jawapan. Sila pilih SATU jawapan mengikut kesesuaian dan bertepatan dengan
      situasi diri anda. Tiada jawapan betul atau salah.

      Untuk makluman, semua data yang diperoleh melalui aplikasi ini dipelihara berlandaskan prinsip kerahsiaan dan
      hanya boleh diakses oleh pihak pentadbir sistem sahaja.</p>
  </div>

  <div class="container-fluid h-100 d-flex flex-column">
    <form class="custom-form bg-light p-3">
      <div class="row justify-content-center flex-grow-1">
        <div class="col-sm-4 p-3">
          <h4>Jantina</h4>
          <div class="form-group">
            <select class="form-control" id="gender" name="gender">
              <option disabled selected value> -- sila pilih -- </option>
              <option value="malay">Lelaki</option>
              <option value="chinese">Perempuan</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 p-3">
          <h4>Umur</h4>
          <div class="form-group">
            <select class="form-control" id="age" name="age">
              <option value="under 12">Bawah 12</option>
              <option value="12-17">12 hingga 17</option>
              <option value="18-24">18 hingga 24</option>
              <option value="25-34" selected>25 hingga 34</option>
              <option value="35-44">35 hingga 44</option>
              <option value="45-54">45 hingga 54</option>
              <option value="55-64">55 hingga 64</option>
              <option value="65-74">65 hingga 74</option>
              <option value="over 75">Lebih 75</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 p-3">
          <h4>Bangsa</h4>
          <div class="form-group">
            <select class="form-control" id="race" name="race">
              <option disabled selected value> -- sila pilih -- </option>
              <option value="malay">Melayu</option>
              <option value="chinese">Cina</option>
              <option value="indian">India</option>
              <option value="other">Lain-Lain</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 p-3">
          <h4>Status Perkahwinan</h4>
          <div class="form-group">
            <select class="form-control" id="marital" name="marital">
              <option value="single">Bujang</option>
              <option value="married">Berkahwin</option>
              <option value="divorced/widowed">Janda/Duda</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 p-3">
          <h4>Tahap Pendidikan</h4>
          <div class="form-group">
            <select class="form-control" id="education" name="education">
              <option value="primary">Sekolah Rendah</option>
              <option value="secondary">Sekolah Menengah</option>
              <option value="college/university" selected>Kolej/Universiti</option>
              <option value="none">Tiada</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 p-3">
          <h4>Jabatan</h4>
          <div class="form-group">
            <select class="form-control" id="occupation" name="occupation">
              <option value="">Jabatan Korporat dan Perhubungan Antarabangsa</option>
              <option value="">Jabatan Teknologi Informasi dan Komunikasi</option>
              <option value="">Jabatan Khidmat Pengurusan</option>
              <option value="">Jabatan Perbendaharaan</option>
              <option value="">Jabatan Kemasyarakatan</option>
              <option value="">Jabatan Penilaian dan Pengurusan Harta</option>
              <option value="">Jabatan Undang-undang</option>
              <option value="">Jabatan Perancang Bandar</option>
              <option value="">Jabatan Bangunan</option>
              <option value="">Jabatan Kejuruteraan</option>
              <option value="">Jabatan Perkhidmatan Perbandaran</option>
              <option value="">Jabatan Perkhidmatan Kesihatan</option>
              <option value="">Jabatan Pelesenan</option>
              <option value="">Direktorat Penguatkuasaan</option>
              <option value="">Jabatan Pesuruhjaya Bangunan</option>
              <option value="">Jabatan Landskap</option>
              <option value="">Jabatan Pengurusan Krisis</option>
              <option value="">Unit Audit Dalaman</option>
              <option value="">Unit OSC</option>
              <option value="">Unit Butterworth Baharu</option>
              <option value="">Unit Pelancongan, Seni Dan Warisan</option>
              <option value="">Bahagian Keselamatan dan Komuniti</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <a type="button" class="btn btn-block btn-lg btn-more"
      @onclick="() => {showQuestionComponent = true; StateHasChanged();}">
      <i class="fa fa-pencil fa-pulse border-0">Mula</i>
    </a>

    @if (showQuestionComponent)
    {
      <Question />
    }
  </div>
</body>

</html>

@code
{
  bool showQuestionComponent;
}