@page "/question"

  <body>    
    <style>
      body,
      html {
        height: 100%;
      }

      h4 {
        display: flex;
        width: 50%;
        height: 600px;
        margin: auto;
        align-items:center;
        justify-content:center;
      }

    </style>

    <div class="container-fluid h-100 d-flex flex-column">
      <div class="row flex-grow-1">

        <!-- soalan -->
        <div class="col-sm-4 p-3 border" style="background-color: #E4D6D2;">
              <h4 class="question1">Saya dapati diri saya sangat sukar untuk tenteram</h4>           
        </div>

        <!-- jawapan -->
        <div class="col-sm-2 p-3 border bg-light">
          <h4 class="answer1">Tidak Langsung</h4>
        </div>
        <div class="col-sm-2 p-3 border bg-light">
          <h4 class="answer2">Sedikit atau Jarang Jarang</h4>
        </div>
        <div class="col-sm-2 p-3 border bg-light">
          <h4 class="answer3">Banyak atau Kerapkali</h4>
        </div>
        <div class="col-sm-2 p-3 border bg-light">
          <h4 class="answer4">Sangat Banyak atau Sangat kerap</h4>
        </div>
    </div>
  </div>
</body>